.body{
  padding-top: 25px;
}

.center{
  margin: auto;
  text-align: center;
}

.photo-credit{
  position: relative;
  top: -25px;
  margin-top: -25px;
  padding-left: 5px;
  color: white;
}

.navbar-nav{
  margin: auto;
  @media (min-width: 992px) {
    .active{
      text-decoration: underline;
    }
  }
  li{
    a{
      @media (min-width: 992px) {
        padding: 8px 25px !important;
      }
    }
  }
}
